<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{app_address}}/static/favicon.png">
<link rel="stylesheet" href="{{app_address}}/static/lib/w3css/4/w3.css">
<link rel="stylesheet" href="{{app_address}}/static/lib/w3css/w3-colors-2017.css">
<link rel="stylesheet" href="{{app_address}}/static/lib/w3css/w3-colors-highway.css">
<script src="//monitor.sz.lan/resources/monitor.js"></script>

<html>
<title>Fans Controller - Login</title>

<body>
<div class="w3-container w3-padding-16" style="max-width: 30em; margin-top:20vh; display: block; margin-left: auto; margin-right: auto;">
  <div class="w3-card-4">
    <div class="w3-container w3-highway-blue">
      <h4>Fans Controller - Login</h4>
    </div>
    <form class="w3-container" action="../login/" method="post">
      <p>
        <label style="color:#00477e;"><!--Hex value of w3-highway-blue-->
          <b>Username</b>
        </label>
        <input class="w3-input w3-border w3-light-grey" type="text" name="username" >
      </p>
      <p>
        <label style="color:#00477e;"><!--Hex value of w3-highway-blue-->
          <b>Password</b>
        </label>    
        <input class="w3-input w3-border w3-light-grey" type="password" name="password" >
      </p>
      <div class="w3-cell-row" style="margin-bottom:1em;">
        <div class="w3-container w3-cell w3-mobile" style="padding:0px;">
          {{message|safe}}
        </div>
        <div class="w3-container w3-cell w3-mobile" style="padding:0px;">
          <button class="w3-button w3-border w3-highway-blue w3-right" style="" type="submit" >Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html> 
